body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(26, 24, 24) */

}

/* disable blue highlight (especially on mobile) */
input,
textarea,
button,
select,
div,
a {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: inherit;
  text-decoration: none;
}

.screenTitle {
  /* color: rgb(255, 255, 255); */
  font-size: 2em;
  text-align: center;
}

.topButtons {
  display: flex;
  justify-content: space-between;
}

.secondButtons {
  text-align: right;
  /* display: flex;
  justify-content: space-between; */
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(128, 128, 128, 0.473);
}

.collections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collectionImage {
  max-width: 21vw;
  max-height: 21vh;
  border-radius: 17px;
}

.centerThis {
  /* margin-left: auto;
  margin-right: auto;
  width: 8em */
  text-align: center;
}

.centerWithMargin {
  margin-left: auto;
  margin-right: auto;
}

.toTheRight {
  margin-left: auto;
}

.horizontalSlider {
  width: 47%;
  /* padding:10px; */
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

.exampleTrack {
  /* margin-left: auto;
  margin-right: auto; */
  height: 20px;
  width: 47%;
  background: green;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  transform: translate(0, 50%)
}

.inner {
  position: absolute;
  margin: 0 auto;
  height: 40px;
}

.exampleThumb {
  height: 24px;
  width: 24px;
  border: 2px solid black;
  background: green;
  border-radius: 10px;
  position: absolute;
  margin: 0 auto;
  transform: translate(0, 25%);
}

.spaceAbove {
  margin-top: 30px;
}

.BPMText {
  font-size: 36px;
}

