body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 24, 24);
  /* Header space */
  /* padding-top: 92px; */
  /* background-color: #111111; */
 
}

/* disable blue highlight (especially on mobile) */
input,
textarea,
button,
select,
div,
h4,
a {
  outline: none;
}

.headerRoom {
  margin-top: 92px;
}

.clearFooterPadding {
  /* padding-bottom: 100px; */
}

.clearFooterPaddingDesktopSongs {
  /* padding-bottom: 140px; */
  padding-bottom: 60px;
}

.clearFooterPaddingMobile {
  padding-bottom: 70px;
}

input[type=checkbox] {
  padding-top: 20px;
  transform: scale(1.2);
}

#metronomeSoundCheckbox {
  margin-left: 5.6px;
}

div {
  color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: inherit;
  text-decoration: none;
}

svg {
  fill: white;
  color: white;
  transition: all 0.05s ease-out;
  /* height: 30px;
  width: 30px; */
}

.modalButton {
  margin-top: 10px;
}

.modalText {
  font-size: 16.7px;
}

.noRecipientPadding {
  padding-bottom: 14px;
}

.modalTextPadding {
  padding-bottom: 2px;
}

.modalTextPaddingParagraph {
  padding-bottom: 11px;
}

svg:hover {
  fill: rgb(117, 117, 117);
  transition: all 0.10s ease-in;
  cursor: pointer;
}

@media (hover: none) {
  svg:hover { fill: white; };
}

.removeSongCross {
  margin-right: 8px;
}

.removeSongCrossMobile {
  margin-right: 4px;
}

.collectionsTitle {
  margin-bottom: 40px;
}

.BPMTextAndCheckbox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.burgerName {
  margin-top: 0px;
  font-size: 130%;
  /* font-size: 2.2vmin; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 18px;
}

.burgerLogout {
  cursor: pointer;
}

.burgerCross {
  color: white;
}

.tempoPlayArrow {
  margin-bottom: 30px;
}

.browseSongsTitle {
  margin-bottom: 30px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(auto-fill,max(178px, 25%));
  justify-content: center;
}

@media only screen and (min-width: 534px) {
  .collections {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.singleCollection {
  margin:auto;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 13vw;
  height: 13vw;
  min-width: 125px;
  min-height: 125px;
  max-width: 250px;
  max-height: 250px;
  /* margin-right: 6vw;
  margin-left: 6vw; */
  /* margin-bottom: 80px; */
  margin-bottom: max(80px, min(10vw, 180px));
  position: relative;
}

.imgAndStatus {
  position: relative;
}

.collectionName {
  font-size: 20px;
  font-weight: 500;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sessionStatus {
  font-size: min(max(0.977vw, 13.46px), 18px);
}

.collectionImage {
  border-radius: 1.15vw;
  width: 13vw;
  height: 13vw;
  min-width: 125px;
  min-height: 125px;
  max-width: 250px;
  max-height: 250px;
}

.singleCollectionInnerContainer {
  display: flex;
  flex-direction: column;
}

#mainPlayerContainer {
  margin-top: 20px;
  margin-left: 4vw;
  margin-right: 4vw;
}

.playerWrapper {
  margin-top: 102px;
}

#mainPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 8vw;
  margin-right: 8vw; */
  margin-left: auto;
  margin-right: auto;
  border: 1px rgb(114, 114, 114) solid;
  border-radius: 7px 7px 7px 7px;
  max-width: 940px;
  box-shadow: 0px 0px 64px 10px white;
}

#mainPlayerImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.imagePlayerFiller {
  position: absolute;
  width: 100%;
  height: 100%;
}

#mainPlayerImg {
  width: 95%;
  height: auto;
  /* z-index: 1; */
}

.loopMarginTop {
  margin-top: 8px;
}

.singleMainPlayerTimestamp {
  width: 40px;
} 

#innerMainPlayerContainer {
  padding-top: min(4vw, 28px);
}

#innerMainPlayer {
  /* border: 2px white solid; */
  margin-left: 4vw;
  margin-right: 4vw;
}

.mainPlayerPlayPausePadding {
  margin-left: 20px;
  margin-right: 20px;
}

#mainPlayerSongInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainPlayerflexHorizontal {
  display: flex;
  flex-direction: row;
}

.mainPlayerFlexCenter {
  display: flex;
  justify-content: center;
}

.mainPlayerFlexCenterVertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.collectionSongsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collectionSongsFlexCenterVertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mainPlayerFlexVertical {
  display: flex;
  flex-direction: column;
}

#metronomeNavButton {
  height: 30px;
  width: 30px;
  padding-top: 6px;
  padding-right: 5px;
  pointer-events: all;
}

#metronomeMain {
  height: 80px;
  width: 80px;
  margin-top: 22px;
  transition: all 0.10s ease-out;
  margin-bottom: 14px;
}

.bars2 {
  margin-left: auto;
  margin-right: auto;
  width:40.255px;
  height:34.92px;
  --c:linear-gradient(currentColor 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size:9px 100%;
  background-repeat: no-repeat;
  animation:b2 1s infinite linear;
}
@keyframes b2 {
    20% {background-size:9px 60% ,9px 100%,9px 100%}
    40% {background-size:9px 80% ,9px 60% ,9px 100%}
    60% {background-size:9px 100%,9px 80% ,9px 60% }
    80% {background-size:9px 100%,9px 100%,9px 80% }
}

.screenTitle {
  /* color: rgb(255, 255, 255); */
  font-size: 2em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.specialWordBreak {
  word-break: break-word;
  overflow-wrap: anywhere !important;
}

.browseSongsAlert {
  /* color: rgb(255, 255, 255); */
  font-size: 1.3em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.browseSongsInput {
  width: 200px;
  margin-bottom: 20px;
}

#headerContainer {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  pointer-events: none;
}

.topButtons {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
}

.volumeControls {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 12px;
  /* padding-bottom: 21px; */
}

#volumeSlider {
  position: relative;
  height: 140px;
  bottom: 138px;
}

#volumeButton {
  position: fixed;
  top: 29px;
}

.secondButtons {
  display: flex;
  justify-content: flex-end;
  /* padding-top: 10px; */
  padding-top: 6px;
  padding-right: 10px;
}

.singleSongVertical {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

.isPlaying {
  color:rgb(255, 251, 0) !important;
  text-shadow: 2px 1px 13px rgba(156, 150, 150, 0.91);
}

#collectionClearIcon {
  position: absolute;
  top: 0.4vw;
  left: 0.4vw;
  background-color: #000000c7;
  border-radius: 6px;
}

.resumeStatus {
  color:rgba(255, 251, 0, 0.616) !important;
  color: rgb(160, 160, 160)
}

.listenedCollectionSong {
  color: rgb(126, 126, 126);
}

#tempoPlayArrow {
  color: rgb(255, 251, 0);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.navButton {
  height: 38px !important;
  width: 38px !important;
  margin-left: 8px;
  pointer-events: all;
}

.toTheLeft {
  margin-right: auto;
}

.toTheRight {
  margin-left: auto;
}

.enablePointerEvents {
  pointer-events: all;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 10vh; */
  /* background: rgba(128, 128, 128, 0.473); */
  /* pointer-events: none; */
}

.footerRow {
  display: flex;
}

#mainPlayerTimestamps {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  justify-content: space-between;
}

#mainPlayerControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.footerCenterTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-left: 200px;
  padding-right: 200px; */
}

.footerCenterTop > div {  /* All divs inside of footerCenterTop will have this applied. Play/pause, next, prev, etc */
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin-left: 8px;
  margin-right: 8px; */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.footerCenterTopLeft {
  margin-left: 0px;
  margin-right: 10px;
}

.footerCenterItem {
  /* margin-left: 10px;
  margin-right: 10px; */
}

.footerCenterTopRight {
  margin-right: 0px;
  margin-left: 10px;
}

.footerControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding: 10px 10px 10px 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(156, 155, 155, 0.521);
  border-top: 0.5px solid rgba(56, 56, 56, 0.644);
  /* background-color: rgba(126, 124, 124, 0.521); */
  /* box-shadow: 0px 10px 40px 10px rgba(255, 255, 255, 0.568); */
}

.footerControlsMobile {
  display: flex;
  flex-direction: column;
  backdrop-filter: 0;
}

.footerControlsMobileTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* min-height: 40px; */
  height: 52px;
  /* padding: 10px 10px 10px 10px; */
  /* backdrop-filter: blur(5px); */
  /* background-color: rgba(156, 155, 155, 0.521); */
  background-color: rgb(102, 101, 101);
}

.footerBox1 {
  display: flex;
  width: 40vw;
  min-width: 114px;
  /* border: 1px black solid; */
  cursor: pointer;
  transition: all 0.25s ease-out;
  border-radius: 10px;
}

.footerBox1:hover {
  border-radius: 10px;
  background-color: grey;
  transition: all 0.10s ease-in;
}

.footerBox1Mobile {
  display: flex;
  width: 62vw;
  min-width: 114px;
  /* border: 1px black solid; */
}

#footerControlsBPM {
  cursor: pointer;
  transition: all 0.20s ease-out;
}

#footerControlsBPM:hover {
  color: rgb(117, 117, 117);
  transition: all 0.10s ease-in;
}

.footerBox2 {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.footerBox3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40vw;
  min-width: 114px;
  /* border: 1px black solid; */
  margin-top: auto;
  margin-bottom: auto;
}

.footerBox3Mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40vw;
  min-width: 114px;
  /* border: 1px black solid; */
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 8px;
}

.footerItemCenterMobile {
  margin-right: 14px;
  margin-left: 18px;
}

.footerItemRightMobile {
  margin-right: 12px;
}

.footerTextContainer {
  /* max-width: 98%; */
  /* width: 400px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 40vw;
  min-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px red solid; */
}

.footerTextContainer > div {
  max-width: 98%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.footerTextContainerMobile {
  /* max-width: 98%; */
  /* width: 400px; */
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 62vw;
  min-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* border: 1px red solid; */
}

.footerTextContainerMobile > div {
  max-width: 98%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
}

/* .footerText {
  max-width: 98%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */

.footerArt {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  margin-left: 6px;
}

.footerArtMobile {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin-right: 5px;
  /* margin-left: 6px; */
}

/* .footerCenterBottom {
  display: flex;
  justify-content: row;
} */

.maxWidth {
  width: 100%;
}

.singleSongInfo {
  display: flex;
  width: 100%;
}

.playTimeEndTime {
  padding-top: 2px;
}

.collectionSongImg {
  height: 52px;
  width: 52px;
}

#singleSongInfo {
  display: flex;
  flex-direction: column;
}

#durationIcon {
  height: 18px;
  width: 18px;
}

#durationIconContainer {
  padding-top: 6px;
  padding-left: 12px;
}

.collectionSongsTable {
  width: 100%;
  max-width: 1600px;
  padding-left: 6px;
  padding-right: 12px;
  text-align: left;
  /* table-layout: fixed; */
  /* padding-bottom: 70px; */
}

.collectionSongsTableDesktop {
  /* margin-left: 10vw; */
  padding-left: 100px;
}

.removeSongCrossContainer {
  width: 0px;
}

.singleSongBox1 {
  display: flex;
}

.controlsTop {
  display: flex;
  justify-content: space-between;
  /* border: black solid 1px; */
  flex-direction: row;
  background-color: rgba(156, 155, 155, 0.521);
  /* backdrop-filter: blur(5px); */
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
}

.loopOn {
  /* color:rgb(255, 208, 0) !important; */
  color:rgb(255, 251, 0) !important;
}

.controlsBottom {
  display: flex;
  justify-content: space-between;
  /* border: black solid 1px; */
  flex-direction: row;
  background-color: rgba(156, 155, 155, 0.521);
  /* backdrop-filter: blur(5px); */
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
}

.trackpadAndDuration {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
  padding-left: 10px;
  padding-right: 10px;
}

.centerVertical {
  margin-top: auto;
  margin-bottom: auto;
}

/* table > tr {
  padding-top: 20px;
} */

tr {
  height: 60px;
}

.touchPaddingBottom {
  padding-bottom: 3.2px;
}

.touchPaddingBottomSong {
  padding-bottom: 3.6px;
}

.touchPaddingTop {
  padding-top: 1.2px;
}

.touchPaddingTopMobile {
  padding-top: 0.8px;
}

.footerSlider {
  width: 100%;
  margin-left: 18px;
  margin-right: 18px;
}

.mainSlider {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 18px;
  margin-right: 18px; */
}

.footerSliderMobile {
  width: 100%;
  /* height: 5px; */
  display: flex;
}

.footerTopLeft {
  display: flex;
  flex-direction: row;
}

.songNameAndArtist {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.controlsBPM {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.controlsDurations {
  display: flex;
  justify-content: space-between;
}

.footerIcon {
  height: 22px;
  width: 22px
}

.controlButton {
  margin-left: 6px;
  margin-right: 6px;
}

.centerThis {
  /* margin-left: auto;
  margin-right: auto;
  width: 8em */
  text-align: center;
}

.previewControlsContainer {
  position: relative;
}

.previewControls {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: scale(1.25);
  padding-left: 1.1px;
}

.centerWithMargin {
  margin-left: auto;
  margin-right: auto;
}

.horizontalSlider {
  width: 47%;
  /* padding:10px; */
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-bottom: 12px;
}

.horizontalSliderMobile {
  width: 72%;
  /* padding:10px; */
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-bottom: 12px;
}

.exampleTrack {
  /* margin-left: auto;
  margin-right: auto; */
  height: 20px;
  width: 47%;
  background: grey;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  transform: translate(0, 50%)
}

.inner {
  position: absolute;
  margin: 0 auto;
  height: 40px;
}

.exampleThumb {
  height: 24px;
  width: 24px;
  border: 2px solid black;
  background: black;
  border-radius: 10px;
  position: absolute;
  margin: 0 auto;
  transform: translate(0, 25%);
}

.spaceAbove {
  margin-top: 30px;
}

.BPMText {
  font-size: 36px;
  padding-bottom: 5px;
}

.toggleSearchByBPMBox {
  margin-bottom: 14px;
}

.BPMTapPad {
  margin: 0 auto;
  height: 120px;
  width: 120px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgb(175, 175, 175);
  margin-bottom: 9px;
}

.BPMTapPad:active {
  background-color: rgb(128, 123, 123);
}

.BPMTapPadText {
  padding: 25%;
  font-size: 17px;
}

.BPMLightContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
}

.BPMLight {
  height: 40px;
  width: 40px;
  border: 1px solid grey;
  margin: auto;
  background-color: grey;
  border-radius: 12px;
  transition: all 0.75s ease-out;
}

.confirmBPMTitle {
  margin-bottom: 2px;
}

.BPMLightActive {
  height: 60px;
  width: 60px;
  border: 1px solid grey;
  margin: auto;
  background-color:rgb(194, 194, 194);
  border-radius: 12px;
  transition: all 0.11s ease-in;
  box-shadow: 0px 0px 64px 10px rgba(255, 255, 255, 0.521);
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}