body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(26, 24, 24) */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: inherit;
  text-decoration: none;
}

.screenTitle {
  /* color: rgb(255, 255, 255); */
  font-size: 2em;
  text-align: center;
}

.topButtons {
  display: flex;
  justify-content: space-between;
}

.secondButtons {
  text-align: right;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(128, 128, 128, 0.473);
}

.collections {
  display: flex;
  justify-content: space-between;
}

.collectionImage {
  max-width: 21vw;
  max-height: 21vh;
  border-radius: 17px;
}

